<h3>Create new post</h3>
<form id="new-post-form" enctype="multipart/form-data">
  <label for="post_post_photo">Image</label>
  <br>  
  <input
    type="file"
    name="post[post_photo]" multiple
    id="post_post_photo">

  <br>
  <label for="post_link">Link</label>
  <br>
  <input
    type="text"
    name="post[link]"
    id="post_link">

  <br>
  <label for="post_description">Description</label>
  <br>
  <input
    type="text"
    name="post[description]"
    id="post_description">

  <br>
  <br>
  <b>Select any catagories:</b>
  <br>
  
  <input type="checkbox" 
    name="post[categories][]"
    value="recipe"
    id="post_recipe">
  <label for="post_recipe">Recipe</label>
  <br>

  <input type="checkbox"
    name="post[categories][]"
    value="food"
    id="post_food">
  <label for="post_food">Food</label>
  <br>
  
  <input type="checkbox"
    name="post[categories][]"
    value="drink"
    id="post_drink">
  <label for="post_drink">Drink</label>
  <br>
  
  <input type="checkbox"
    name="post[categories][]"
    value="dinning"
    id="post_dinning">
  <label for="post_dinning">Dinning Out</label>
  <br>
  
  <input type="checkbox"
    name="post[categories][]"
    value="products"
    id="post_products">
  <label for="post_products">Products</label>
  <br>
  
  <input type="checkbox"
    name="post[categories][]"
    value="people"
    id="post_people">
  <label for="post_people">People</label>
  <br>
  
  <input type="checkbox"
    name="post[categories][]"
    value="news"
    id="post_news">
  <label for="post_news">News</label>
  <br>
  
  <br>
  <input type="submit" value="Create Post">
</form>