<h3>Create new post</h3>
<form id="new-post-form" enctype="multipart/form-data">
  <label for="post_post_photo">Image</label>
  <br>  
  <input
    type="file"
    name="post[post_photo]" multiple
    id="post_post_photo">

  <br>
  <label for="post_link">Link</label>
  <br>
  <input
    type="text"
    name="post[link]"
    id="post_link">

  <br>
  <label for="post_description">Description</label>
  <br>
  <input
    type="text"
    name="post[description]"
    id="post_description">

  <br>
  <br>
  <b>Select catagories:</b>
  <br>

  <% categoriesCollection.each( function(category){ %>
    <% html_id = "category_member_id" + category.get("id") %>
    <input type="checkbox"
      name="post[category_ids][]"
      value="<%= category.get("id") %>"
      id="<%= html_id %>">
    <label for="<%= html_id %>">
      <%= category.get("name") %>
    </label>
    <br>
  <% }); %>
  
  <br>
  <input type="submit" value="Create Post">
</form>