<h3>Create new Category</h3>
<form id="new-category-form">

  <label for="category_name">Category Name</label>
  <br>
  <input
    type="text"
    name="category[name]"
    id="category_name">

  <br>
  <input type="submit" value="Create Category">
</form>